*{
    padding: 0;
    margin-top: 0%;
}
body{
    background-color: black;
}
.container {
    margin-left: 45%;
    margin-top: 22%;
}
.container a{
    text-decoration: none;
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 5px 5px;
}
.container #tombol{
    color: blueviolet;
    background: white;
}
.container #tombol:hover{
    color: black;
    background: #e5edf1;
    box-shadow: 0 0 3px #e5edf1,
                0 0 6px #e5edf1,
                0 0 12px #e5edf1,
                0 0 24px #e5edf1,
                0 0 48px #e5edf1,
                0 0 96px #e5edf1,
                0 0 192px #e5edf1,
                0 0 384px #e5edf1;
}